*{
	box-sizing: border-box;
}
.navbar li{
	display: inline-block;
	font-size: 24px;
}
.header1 {
	margin: 0 30px 0 0;
}
.navbar li a{
	color: #3D58A6;
	vertical-align: middle;
}
.line{
	height: 27px;
	width: 2px;
	display: inline-block;
	background-color: #3D58A6;
	margin: 0 20px 0 20px;
	vertical-align: middle;
}
.midpart{
	display: inline-block;
	margin-right: 300px;
}
.socmedia{
	vertical-align: middle;
}
.logo{
	float: left;
	margin: 20px 0 0 100px;
}
.navbar{
	float: right;
	margin: 35px 100px 0 0;
}
header: after {
	content: '';
	display: block;
	clear: both;
}
header{
	background-color: white;
	height: 110px;
	width: 100%;
	position: fixed;
}
.pcbox{
	height: 850px;
	width: 100%;
	background-color: #E6E6E6;
	padding: 140px 5% 30px 5%;
}
.pc{
	height: 100%;
	width: 100%;
}
.bluebox{
	height: 680px;
	width: 100%;
	background-color: #363E97;
	padding: 100px 5% 100px 5%;
}
.firstitem{
	height: 100%;
	width: 49%;
	background-color: white;
	display: inline-block;
} 
.firstitem:last-child{
	float: right;
}
.box3{
	height: 600px;
	width: 100%;
	background-color: #BDCCD4;
	padding: 120px 5% 120px 5%;
}
.boxes{
	height: 100%;
	width: 22%;
	background-color: #E6E6E6;
	display: inline-block;
	margin: 0 3.7% 0 0;
	vertical-align: top;
}
.boxes:last-child{
	margin: 0;
}
.boxesimg{
	width: 100%;
	height: 78%;
}
.boxes p{
	font-size: 22px;
	margin: 7% 0 0 7%;
}
.box4{
	height: 500px;
	width: 100%;
	background-color: #E6E6E6;
	padding: 0 5% 12% 5%;
}
.fingerbox{
	height: 100%;
	width: 48%;
	display: inline-block;
	background-color: #F2F2F2;
	vertical-align: top;
}
.fingerbox:last-child{
	margin: 0 0 0 3%;
}
.fingerbox p{
	display: inline-block;
	width: 70%;
	vertical-align: top;
	padding: 30px 0px 0px 60px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.fingerbox h3{
	color: #3D58A6;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	margin: 3%;
	font-weight: bold;
}
.fingerbox img{
	margin: 0 0 0 5%;
}
.box4title{
	height: 120px;
	width: 100%;
}